<div class="nav-holder" ng-controller="NavController as nav">
    <div class="menu-icon">
        <button class="btn menu-link" ng-click="nav.open()">&#9776;</button>
    </div>

    <nav class="nav-menu" role="navigation">
        <a class="icon-close" ng-click="nav.close()">&times;</a>
        <h2 class="nav-menu-header">Другие штуки</h2>
        <ul class="list-unstyled">
            <li>
                <a href="http://postepenno.com/20quotes">20 цитат о России
                    <div class="nav-thumb" style="background-image: url(my-nav/icons/20-quotes.jpg)"></div>
                </a>
            </li>
            <li><a href="http://postepenno.com/ussr-movies">30 лучших фильмов СССР
                <div class="nav-thumb" style="background-image: url(my-nav/icons/ussr-movies.jpg)"></div>
            </a>
            </li>
            <li>
                <a href="http://postepenno.com/ussr">Советские плакаты
                    <div class="nav-thumb" style="background-image: url(my-nav/icons/ussr-posters.jpg)"></div>
                </a>
            </li>
            <li>
                <a href="http://postepenno.com/orden">Ордена ВОВ
                    <div class="nav-thumb" style="background-image: url(my-nav/icons/orden.jpg)"></div>
                </a>
            </li>
            <li>
                <a href="http://postepenno.com/g20">Большая двадцатка
                    <div class="nav-thumb" style="background-image: url(my-nav/icons/g20.jpg)"></div>
                </a>
            </li>
            <li>
                <a href="http://postepenno.com/meloch">Мелочь, а приятно
                    <div class="nav-thumb" style="background-image: url(my-nav/icons/meloch.jpg)"></div>
                </a>
            </li>
        </ul>
    </nav>
</div>
